services:
  - type: web
    name: chatapp-logger
    runtime: node
    buildCommand: npm install
    startCommand: node api/server.js
    plan: free
    envVars:
      - key: NODE_VERSION
        value: "18"
      - key: MONGODB_URI
        sync: false
      - key: ENCRYPTION_KEY
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: PORT
        value: 8080
